################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/WooCommerceNET/v14
/bin/Debug
