################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/WooCommerceNET/v15
/WooCommerceNET.sln
